@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	border: 0;
	margin: 0;
}

article,aside,dialog,figcaption,figure,footer,header,section,footer,nav,menu,video {display:block;}

html {
    font-size: 16px;
}

body {
	margin: 0;
	font-size: 1rem;
	font-family: Helvetica,Arial,STHeiti,"Microsoft Yahei","Open Sans","Helvetica Neue",sans-serif;
}

/* 定义所有链接的样式 */
a {
	display: block;
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

ul {list-style: none;}

.navbar-default {
	background-color: #C90000;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #fff;
}

/* 面包屑导航 */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

/* 食谱图片列表 */
.new-menu {
	width: 198px;
	height: auto;
	display: inline-block;
	margin: 7px 7px 10px 0;
	border: 1px solid #E3DFDF;
	text-align: left;
}
.new-menu p, 
.recipeName {
	margin: 7px;
}
.new-menu a:hover {
	color: #FA7E3E;
}

.recipeImg:hover {
	-webkit-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}

/* 菜单栏 */
.navMenu{
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	/*background-color: #E3EB5E;*/
	cursor: pointer;
}
.navMenu a:link, 
.navMenu a:visited {
	background-color: #98bf21;
	color: #fff;
	text-align: center;
}
.navMenu a:hover, 
.navMenu a:active {
	background-color: #7a991a;
}
.nav > li > a:hover {
	background-color: #7a991a;
}

/* 注册与登录 */
.username,
.password,
.email {
	width: 100%;
    padding: 0 12px;
    margin: 10px 0;
}

/* 提交按钮 */
.submit {
	margin: 0 auto 5%;
	display: block;
	background-color: #98bf21;
	color: #fff;
	text-align: center;
	width: 25%;
	font-size: inherit;
}
.submit:hover {
	color: #fff;
	background-color: #7a991a;
}

/* 记住我与忘记密码 */
.tips {
	display: block;
}
.tips > li {
	display: inline-block;	
}

/* 登录与注册切换 */
.menu > ul > li {
	width: 50%;
	text-align: center;
}
.menu > ul > li > a:hover {
	color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #98bf21;
}

/* 导航栏小图标 */
.glyphicon {
	margin-right: 4px;
}
/* 返回顶部 */
.fixed-btn {
	position: fixed;
	right: 1%;
	bottom: 5%;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #eee;
	z-index: 1040;
	background: #fff url(../images/gotop.png) no-repeat 10px 10px;
	cursor: pointer;
	border-radius: 6px;
}

h3 a:hover {
	text-decoration: none;
	color: #c90000;
}

/* caipudaquan.html */
/* 分类列表 */
.category-list li {
	float: left;
	margin-right: 20px;
	text-align: center;
	font-size: 1em;
}

.mt20 {margin-top: 20px;}
.h1-style {
	font-size: 1.5em;
	color: #817c74;
}
.tc {text-align: center;}

/* 分类列表标签样式 */
.gblock-link {
	display: block;
	color: #fff;
	padding: 10px 22px;
	height: 2em;
	line-height: 1em;
	background-color: #a79e95;
}
.gblock-link:hover {
	background-color: #fa7e3e;
	color: #fff;
}
a:hover {text-decoration: none;}

/* 详细分类列表 */
.detail-cate-list {
    display: block;
    float: left;
    margin: 20px auto;
}
.bpanel {
	display: block;
	border: 1px solid #eee;
}
.c-name {
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	background-color: #f1f0ee;
}
.c-name div {
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 55px 55px;
}
.c-name .d {background-image: url(../images/icon/d.png);}
.c-name .zhu {background-image: url(../images/icon/zhu.png);}
.c-name .niu {background-image: url(../images/icon/niu.png);}
.c-name .zhurou {background-image: url(../images/icon/zhurou.png);}
.c-name .ji {background-image: url(../images/icon/ji.png);}
.c-name .yang{background-image: url(../images/icon/yang.png);}
.c-name .nai{background-image: url(../images/icon/nai.png);}

.line-list {
	margin-bottom: 15px;
}
.line-list li {
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	width: 80px;
}
.line-list li a {color: #000}
.line-list li a:hover {color: #fa7e3e;}
