@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	border: 0;
	margin: 0;
}

article,aside,dialog,figcaption,figure,footer,header,section,footer,nav,menu,video {display:block;}

html {
    font-size: 16px;
}

body {
	font-size: 1rem;
	font-family: Arial,Helvetica,"Microsoft Yahei",sans-serif,"Open Sans","Helvetica Neue",STHeiti;
	background-color: #fff;
}

/* 定义所有链接的样式 */
a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}

ul {list-style: none;}

.navbar-default {
	background-color: #C90000;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #fff;
}

/* 顶部导航栏 */
.navbar.navbar-default .container-fluid {
	margin-left:auto; 
	margin-right:auto; 
	width: 70%;
}
.navbar.navbar-default .container-fluid .navbar-header {
	margin-left: 5%;
}

/* 面包屑导航 */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

/* 食谱图片列表 */
.new-menu {
	width: 198px;
	height: auto;
	display: inline-block;
	margin: 7px 7px 10px 0;
	border: 1px solid #E3DFDF;
	text-align: left;
}
.new-menu p, 
.recipe-name {
	margin: 7px;
}
.new-menu a:hover {
	color: #FA7E3E;
}

.recipe-img:hover {
	-webkit-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}

/* 菜单栏 */
.navmenu{
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.navmenu a:link, 
.navmenu a:visited {
	background-color: #98bf21;
	color: #fff;
	text-align: center;
}
.navmenu a:hover, 
.navmenu a:active {
	background-color: #7a991a;
}
.nav > li > a:hover {
	background-color: #7a991a;
	/* 修改处①+++++++++++++++++++++++++ 
     *鼠标经过时菜单栏高度变高且菜单栏以下部分
     *固定不变
	*/
	transition: padding 1s;
	-webkit-transition: padding 1s;
	-moz-transition: padding 1s;
	-ms-transition: padding 1s;
}
.nav > li > a:hover { /* 修改处②+++++++++++++++++++++++++ */
    padding: 10px 15px 13px 15px;
    /* height: 50px; */
}

/* 首页滚动动画 */
.ztlist-item {
	height: 181px;
	overflow: hidden;
}
.ztlist-item li {
  display: block;
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  position: relative;
}

#ztlist_item_list_li .new-menu .recipe-name {
	text-align: center;
}

/* 注册与登录 */
.username,
.password,
.repassword,
.email {
	width: 100%;
    padding: 0 12px;
    margin: 10px 0;
}

/* 提交按钮 */
.submit {
	margin: 0 auto 5%;
	display: block;
	background-color: #98bf21;
	color: #fff;
	text-align: center;
	width: 25%;
	font-size: inherit;
}
.submit:hover {
	color: #fff;
	background-color: #7a991a;
}

/* 记住我与忘记密码 */
.tips {
	display: block;
}
.tips > li {
	display: inline-block;	
}

/* 登录与注册切换 */
.menu > ul > li {
	width: 50%;
	text-align: center;
}
.menu > ul > li > a:hover {
	color: #fff;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: #98bf21;
}

/* 导航栏小图标 */
.glyphicon {
	margin-right: 4px;
}

/* 返回顶部 */
.fixed-btn {
	position: fixed;
	right: 1%;
	bottom: 5%;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 1px solid #eee;
	z-index: 1040;
	background: #fff url(../images/gotop.png) no-repeat 10px 10px;
	cursor: pointer;
	border-radius: 6px;
}

h3 a:hover {
	text-decoration: none;
	color: #c90000;
}

.ztlist_cur {
	height: 4px;
	margin: 20px auto 0;
	overflow: hidden;
	text-align: center;
}
.ztlist_cur span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
	height: 4px;
	width: 32px;
	background: #eddcbe;
	margin: 0 2px;
}
.ztlist_cur span.current {
	background: #ff5151;
}

.mt20 {margin-top: 20px;}
.mt10 {margin-top: 10px;}
.fl {float: left;}
.pr {position: relative;}
.p15 {padding: 15px;}
.ml10 {margin-left: 10%;}
.title {font-size: 1.5rem;}

/* caipudaquan.html */
/* 分类列表 */
.category-list li {
	float: left;
	margin-right: 20px;
	text-align: center;
	font-size: 1rem;
}

.h1-style {
	font-size: 1.5rem;
	color: #817c74;
}

.tc {text-align: center;}

/* 分类列表标签样式 */
.gblock-link {
	display: block;
	color: #fff;
	padding: 10px 22px;
	height: 2em;
	line-height: 1em;
	background-color: #a79e95;
}
.gblock-link:hover {
	background-color: #fa7e3e;
	color: #fff;
}

a:hover {text-decoration: none;}

/* 详细分类列表 */
.detail-cate-list {
    display: block;
    float: left;
    margin: 20px auto;
}

.bpanel {
	display: block;
	border: 1px solid #eee;
}

/* 分类名称 */
.c-name {
	font-size: 1.1rem;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	background-color: #f1f0ee;
}
.c-name div {
	background-position: right top;
	background-repeat: no-repeat;
	background-size: 55px 55px;
}
.c-name .d {background-image: url(../images/icon/d.png);}
.c-name .zhu {background-image: url(../images/icon/zhu.png);}
.c-name .niu {background-image: url(../images/icon/niu.png);}
.c-name .zhurou {background-image: url(../images/icon/zhurou.png);}
.c-name .ji {background-image: url(../images/icon/ji.png);}
.c-name .yang{background-image: url(../images/icon/yang.png);}
.c-name .nai{background-image: url(../images/icon/nai.png);}
.c-name .yu{background-image: url(../images/icon/yu.png);}
.c-name .dan{background-image: url(../images/icon/dan.png);}
.c-name .paigu{background-image: url(../images/icon/paigu.png);}
.c-name .xia{background-image: url(../images/icon/xia.png);}
.c-name .nangua{background-image: url(../images/icon/nangua.png);}
.c-name .liangcai{background-image: url(../images/icon/liangcai.png);}

.line-list {
	margin-bottom: 15px;
}
.line-list li {
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	width: 80px;
}
.line-list li a {color: #000}
.line-list li a:hover {color: #fa7e3e;}

.aside-panel {
	border: 1px solid #eae6e3;
	margin: 0 0 0 -70px;
	padding: 5px;
}

.tip-list {
	background-color: #fff;
	color: #ff7501;
	padding: 5px 5px 5px 18px;
}
.tip-list li {
	
}

/* 分页的位置 */
.paging {
	display: block;
	margin: 0 auto;
	width: 50%;
}

/* 底部的div */
.bottom-div {
	padding: 30px 15px;
	/* background-color: #f5f5f5; */
}

/* kelemenzhurou.html etc. */
.user-img {
	width: 60px;
	height: 60px;
	margin-top: 5px;
}

.recipe-exp .h1-style {
	display: inline;
}

.recipe-slider {
	position: absolute;
	width: 18rem; /*288px*/
	height: 13.5rem; /*216px*/
	left: 0;
	overflow: hidden;
}

.recipe-exp {
	margin-left: 18rem;
	height: 13.5rem;
}
.recipe-exp .re-up {
	padding-top: 15px;
	padding-left: 20px;
}
.recipe-exp .re-down {
    border-top: 1px solid #eae6e3;
    padding: 10px 20px;
}

.user {
    padding: 10px 0 20px 0;
    overflow: hidden;	
}

.img {
	width: 70px;
	height: 70px;
    float: left;
    position: relative;
    overflow: hidden;
}

.info1 {
	float: left;
	position: relative;
	padding-left: 10px;
	height: 70px;
}

.recipe-exp .re-down .user .info1 h4 {
    height: 22px;
    line-height: 22px;
    font-size: 1em;
    margin: 0;
    padding-top: 0;
    color: #ff3232;
    position: relative;
}
.recipe-exp .re-down .user .info1 h4 a {color: #ff3232;}
.recipe-exp .re-down .user .info1 span {
	line-height: 24px;
	padding-top: 4px;
}

.recipe-exp .re-up .favbtn {
	/* border-top: 1px solid #eae6e3; */
    padding: 20px 0;
}
.recipe-exp .re-up .favbtn .addtofav {
	background-color: #fa7e3e;
	color: #fff;
	display: inline-block;
	width: 122px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	padding: 0;
	border: 0;
	cursor: pointer;
}

/* 简介与烹饪步骤部分 */
.re-steps .dl .dt {
	float: left;
	width: 80px;
	position: absolute;
}
.re-steps .dl .dd {
	float: left;
	position: relative;
	margin-left: 80px;
}
.re-steps .dl .dd ul li {
	display: inline-block;
	padding: 0 10px;
	border: 1px solid #eee;
	float: left;
	width: 50%;
}
.re-steps .dl .dd ul li span {
	text-align: right;
	float: right;
}

.error {
  color: red;
  font-weight: normal;
}